# This workflow will create a Python package and upload it to testPyPi or PyPi
# Then, it installs SimBench_EHV_HV_excerpt from there and all dependencies and runs tests with different Python versions

name: test

# Controls when the action will run.
on:
  # Allows you to run this workflow manually from the Actions tab
  push:
    branches:
      - release/*

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12']
        os:  [ ubuntu-latest, windows-latest ]

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install SimBench_EHV_HV_excerpt & dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install pandas[hdf5]
          python -m pip install .["all"]

      - name: List all installed packages
        run: |
          python -m pip list

      - name: Test with pytest
        run: |
          python -m pytest --pyargs SimBench_EHV_HV_excerpt.test
